{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div id="loginContainer">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div id="margin-left-right">
        <h1 class="h3 mb-3 font-weight-normal">Connecte-Toi</h1>
    
        <input type="email" value="{{ last_username }}" name="email" class="field-login" id="inputEmail" placeholder="Email" class="form-control" autocomplete="email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="field-login" placeholder="Password" class="form-control" autocomplete="current-password" required>
        <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <button  class="input-login" type="submit">Connecter</button>
    </div>
</form>
</div>
{% endblock %}
