{% extends 'base.html.twig' %}
{% block title %}Hello SeanceController!{% endblock %}

{% block body %}

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <form action="{{ path('add_seance') }}" method="post" >
                <input type="string" name="nom">
                <input type="submit" value="ajouter seance"></i>
            </form>
            <span class="close">&times;</span>
        </div>
    </div>

    <div id='seanceContainer'>
    <h1>Vos Séance</h1>

    
    {# cet div permet de contenir les séances et l'ajout des séances #}

        {# ces lignes de code créerons des card des séances #}
        <div class='cardContainer'>
            {# ces lignes de code créerons une card qui permet d'ajouter une séance#}
            <a id="ajouterSeance">
                <div class='cardSeance'>
                    <h3>Ajouter Seance</h3>
                </div>
            </a>

            {% for seance in seances %}
            <a href="{{ path('show_seance',{'id': seance.id}) }}">
                <div class='cardSeance'>
                    <h3>{{seance.nom}}</h3>
                </div>
            </a> 
            {% endfor %} 

            {% for seancesFav in app.user.SeanceFavoris %}
            <a href="{{ path('show_seance',{'id': seancesFav.id}) }}">
                <div class='cardSeance'>
                    <h3>{{seancesFav.nom}}</h3>
                </div>
            </a> 
            {% endfor %} 
        </div>
    </div>

{% endblock %}
