{% extends 'base.html.twig' %}
{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
    <div class="editPage">
        <div class="editContainer">
        <div class="editTitre">
            <h1>{{ seance.nom }}</h1>
        {% if app.user.id == seance.user.id %}
            <a href="{{ path('delete_seance', {'id': seance.id}) }}" class="delete-link"><i class="fa-solid fa-trash"></i></a>
        {% endif %}
        </div>

        <table class="seanceEdit">
            <thead>
                <tr>
                    <th>Exerice</th>
                    <th>Serie</th>
                    <th>Repetition</th>
                    <th>Poid</th>
                    {% if app.user.id == seance.user.id %}
                        <th>Edit</th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            
            {% if app.user.id == seance.user.id %}
            <tbody>
                <tr>
                    {% for arrayES in arrayESs %}
                        {{ form_start(arrayES) }}
                            <td>{{ form_row(arrayES.exercice, {'attr': {'class': 'select-edit'}}) }}</td>
                            <td>{{ form_row(arrayES.serie, {'attr': {'class': 'field-edit'}}) }}</td>
                            <td>{{ form_row(arrayES.repetition, {'attr': {'class': 'field-edit'}}) }}</td>
                            <td>{{ form_row(arrayES.poid, {'attr': {'class': 'field-edit'}}) }}</td>
                            <td>{{ form_row(arrayES.submit, {'attr': {'class': 'input-edit'}}) }}</td>
                            <td>{{ form_row(arrayES._token) }}</td>
                        {{ form_end(arrayES) }}
                    {% endfor %}
                </tr>
            </tbody>
            {% else %}
            {% endif %}
        </table>

        <div class="formAdd">
        {% if app.user.id == seance.user.id %}

            {{ form_start(formAddSeanceExercice) }}
            {{ form_row(formAddSeanceExercice.exercice, {'attr': {'class': 'select-edit'}}) }}
            {{ form_row(formAddSeanceExercice.serie, {'attr': {'class': 'field-login'}}) }}
            {{ form_row(formAddSeanceExercice.repetition, {'attr': {'class': 'field-login'}}) }}
            {{ form_row(formAddSeanceExercice.poid, {'attr': {'class': 'field-login'}}) }}
            {{ form_row(formAddSeanceExercice._token, {'attr': {'class': 'field-login'}}) }}
            {{ form_row(formAddSeanceExercice.submit, {'label': 'Enregistrer', 'attr': {'class': 'input-login'}}) }}
        {{ form_end(formAddSeanceExercice) }}
        </div>
        {% endif %}
        </div>
</div>
{% endblock %}
