{% extends 'base.html.twig' %}
{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
    <div id='showSeance'> 
        <div id='seanceTitre'>
            <div class="title-container">
                <div class="title">
                    <h1>{{ seance.nom }}</h1>
                </div>
                {% if app.user.id == seance.user.id %}
                    <div class="delete-link-container">
                        <a href="{{ path('delete_seance', {'id': seance.id}) }}" class="delete-link"><i class="fa-solid fa-trash"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>


        <table>
            <thead>
                <tr>
                    <th>Exerice</th>
                    <th>Serie</th>
                    <th>Repetition</th>
                    <th>Poid</th>
                    {% if app.user.id == seance.user.id %}
                        <th>Edit</th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            
            {% if app.user.id == seance.user.id %}
                {% for exerciceSeance in seance.getSeanceExercices %}
                </tbody>
                    <tr>
                        <form action="{{ path('edit_exerciceToSeance', {'seance_id': seance.id}) }}" method="post" class="edit-form">
                            <td>
                                <select name="exercices" id="exercice-select" class="input-field">
                                    <option value="{{ null }}" selected disabled>------</option>
                                    <option value="{{ exerciceSeance.exercice.id }}" selected>{{ exerciceSeance.exercice.nom }}</option>
                                    {% for exercice in exercices %}
                                        <option value="{{ exercice.id }}">{{ exercice.nom }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="number" value="{{ exerciceSeance.getSerie }}" name="serie" class="input-field"></td>
                            <td><input type="number" value="{{ exerciceSeance.getRepetition }}" name="repetition" class="input-field"></td>
                            <td><input type="number" value="{{ exerciceSeance.getPoid }}" name="poid" class="input-field"></td>
                            <td><input type="submit" value="Éditer exercice" class="submit-btn"></td>
                            <td><a href="{{ path('delete_SeanceExercice', {'id': exerciceSeance.id}) }}" class="delete-link">Supprimer</a></td>
                        </form>

                    </tr>
                {% endfor %}
            {% else %}

                {% for exerciceSeance in seance.getSeanceExercices %}
                    <tr>
                        <td>{{ exerciceSeance.exercice.nom }}</td>
                        <td>{{ exerciceSeance.getSerie}}</td>
                        <td>{{ exerciceSeance.getRepetition}}</td>
                        <td>{{ exerciceSeance.getPoid}}</td>
                    </tr>
                </tbody>
                {% endfor %}
                
            {% endif %}
            
        </table>

</div>
        {% if app.user.id == seance.user.id %}
        <div class='formAddSeance'>
            <form action="{{ path('add_exerciceToSeance' ,{'seance_id': seance.id}) }}" method="post" class="exercise-form">
                <select name="exercices" id="exercice-select" class="input-field">
                    <option value="" disabled selected hidden>Choisissez un exercice</option>
                    {% for exercice in exercices %}
                        <option value="{{ exercice.id }}">{{ exercice.nom }}</option>
                    {% endfor %}
                </select>

                <div class="input-group">
                    <input type="number" name="serie" class="input-field" placeholder="Série">
                </div>

                <div class="input-group">
                    <input type="number" name="repetition" class="input-field" placeholder="Répétition">
                </div>

                <div class="input-group">
                    <input type="number" name="poid" class="input-field" placeholder="Poids">
                </div>

                <input type="submit" value="Ajouter exercice" class="submit-btn">
            </form>
        </div>

        {% endif %}
    
{% endblock %}
