{% extends 'base.html.twig' %}
{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
    <div id='showSeance'> 
        <h1>{{seance.nom}}</h1>

        <table>
            <thead>
                <tr>
                    <th>Exerice</th>
                    <th>Serie</th>
                    <th>Repetition</th>
                    <th>Poid</th>
                    <th>Edit</th>
                </tr>
            </thead>

            {% for exerciceSeance in seance.getSeanceExercices %}
            </tbody>
                <tr>
                    <form action="{{ path('edit_exerciceToSeance' ,{'seance_id': seance.id}) }}" method="post" > 
                        <td>
                            <select name="exercices" id="exercice-select">
                            
                            <option value="{{ exerciceSeance.exercice.id }}">{{ exerciceSeance.exercice.nom }}</option>
                            {% for exercice in exercices %}
                            
                                
                                <option value="{{ exercice.id }}">{{ exercice.nom }}</option>
                            {% endfor %}
                            </select>
                        </td>

                        <td><input type="number" value="{{ exerciceSeance.getSerie}}" name="serie"></td>
                        <td><input type="number" value="{{ exerciceSeance.getRepetition}}" name="repetition"></td>
                        <td><input type="number" value="{{ exerciceSeance.getPoid}}" name="poid"></td>
                        <td><input type="submit" value="editer exercice"></i></td>
                    </form>
                </tr>
            </tbody>
            {% endfor %}
        </table>


        <div class='formAddSeance'>
            <form action="{{ path('add_exerciceToSeance' ,{'seance_id': seance.id}) }}" method="post" > 
                <label for="exerice-select">Choisie un exerice :</label>
                <select name="exercices" id="exercice-select">
                    {% for exercice in exercices %}
                        <option value="{{ exercice.id }}">{{ exercice.nom }}</option>
                    {% endfor %}
                </select>
                <label for="serie">Serie :</label>
                <input type="number" name="serie">
                <label for="repetition">Repetition :</label>
                <input type="number" name="repetition">
                <label for="poid">Poid :</label>
                <input type="number" name="poid">
                <input type="submit" value="ajouter exercice"></i>
            </form>
        </div>
    </div>
{% endblock %}
