{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section id='presentationForum'>
    <div class='presentationInfoForum'>
        <h1>Partager votre passion pour la musculation avec d'autre passionnée</h1>
        <p>Vous aspirez à optimiser votre entraînement en musculation ? Rejoignez notre forum dédié, partagez vos conseils, échangez avec d'autres passionnés, et propulsez vos performances vers de nouveaux sommets.</p>
        <a href="{{ path('app_forum') }}">FORUM</a>
    </div>
    <img src="https://images.pexels.com/photos/4853659/pexels-photo-4853659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Une femme qui aide un fomme a faire une développé couché" class="imgSpotter">
    <div class="motivationBackgorundContainer">
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
    </div>
</section>

<section id='presentationTrouverSeance'>
    <h1>Trouver vos séance de sport !</h1>

    <div class="slider-container">
            <div class="menu">
                <label for="slide-dot-1"></label>
                <label for="slide-dot-2"></label>
                <label for="slide-dot-3"></label>
            </div>

            {% for key, seance in seances %}
                <input class="slide-input" id="slide-dot-{{ key + 1 }}" type="radio" name="slides" checked>
                <div class="slide-img">
                    <div class="card-seance" id="card-seance-{{ loop.index }}">
        
            <div class="card-seance-header">
                <h1>{{seance.nom}}</h1>
                {% set isFavoris = app.user and seance.getFavorisUsers().contains(app.user) %}
                {% if isFavoris %}
                    <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_home", 'action': 'add' }) }}" class="SeanceFavoris">
                        <div class="coeur">
                            <i class="far fa-heart"></i>
                        </div>
                    </a>
                    {% else %}
                    <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_home", 'action': 'add' }) }}" class="SeanceFavoris">
                        <div class="coeur">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </a>
                    <div class="nbr-exercice"><p>Nombre d'exercice : {{seance.nbrExercice}}</p></div>
                {% endif %}
            </div>

            <div class="card-seance-content">
                <div class="column">
                    <p>Exercice</p>
                    {% for exercice in seance.getSeanceExercices %}
                            {{exercice.exercice.nom}}
                    {% endfor %}
                </div>
            </div>
        </div>
                </div>
            {% endfor %}
            

    </div>

</section>

<section id='presentationSeance'>
    
    <div class='presentationInfoSeance'>
        <h1>Crée et partager vos séance de sport !</h1>
        <p>Vous aspirez à optimiser votre entraînement en musculation ? Rejoignez notre forum dédié, partagez vos conseils, échangez avec d'autres passionnés, et propulsez vos performances vers de nouveaux sommets.</p>
    </div>
    <img src="https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Description de l'image" class="imgBarre">
    <div class="partagerBackgorundContainer">
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
    </div>
</section>
    

{% endblock %}
