{% extends 'base.html.twig' %}

{% block title %}Hello FindSeanceController!{% endblock %}

{% block body %}
<div class="findSeance">
{# {% set isFavoris = app.user and seance.getFavorisUsers().contains(app.user) %}
            {% if isFavoris %}
                <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_find_seance", 'action': 'remove' }) }}" class="SeanceFavoris">
                    <i class="fas fa-heart"></i>
                </a>
            {% else %}
                <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_find_seance", 'action': 'add' }) }}" class="SeanceFavoris">
                    <i class="far fa-heart"></i>
                </a>
            {% endif %} #}
{{ form_start(formChooseMuscle) }}
    {{ form_row(formChooseMuscle.categorieMuscle, {'label': false, 'attr': {'class': 'field-seance'}}) }}
    {{ form_row(formChooseMuscle.save, {'label': 'Submit', 'attr': {'class': 'input-seance'}}) }}                 
{{ form_end(formChooseMuscle) }}

    <div class="container">
        {% for seance in seances %}
        <div class="card-seance" id="card-seance-{{ loop.index }}">
        
            <div class="card-seance-header">
                <h1>{{seance.nom}}</h1>
                {% set isFavoris = app.user and seance.getFavorisUsers().contains(app.user) %}
                {% if isFavoris %}
                    <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_seance", 'action': 'add' }) }}" class="SeanceFavoris">
                        <div class="coeur">
                            <i class="far fa-heart"></i>
                        </div>
                    </a>
                    {% else %}
                    <a href="{{ path('toggleSeanceFavoris', { 'id': seance.id, 'route': "app_seance", 'action': 'add' }) }}" class="SeanceFavoris">
                        <div class="coeur">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </a>
                    {% endif %}
            </div>

            <div class="card-seance-content">
                <div class="column">
                    <p>Exercice</p>
                    {% for exercice in seance.getSeanceExercices %}
                            {{exercice.exercice.nom}}
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(seances) }}
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
