<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset( 'css/style.css')}}"> 
        {% endblock %}

        
    </head>
    <body>
        {% if app.user %}
            <div id='navBar'> 
                <div class="navFonctionaliter">
                    <input type="button" onclick="location.href=' {{ path('app_topic') }}';" value='Forum' />
                    <input type="button"  onclick="location.href=' {{ path('app_seance') }}';" value='Séance' />
                    {% if is_granted('ROLE_ADMIN') %}
                        <input type="button"onclick="location.href=' {{ path('entraineur') }}';" value='Entraineur' />
                    {% endif %}
                </div>

                <div class="navUtilisateur">
                    <input type="button" onclick="location.href=' {{ path('entraineur') }}';" value='Mon profil' />
                    <input type="button"  onclick="location.href=' {{ path('app_logout') }}';" value='Se déconnecter' />
                </div>
            </div>
        {% else %}
                <input type="button"  onclick="location.href='{{ path('app_login') }}';" value='Se connecter' />
                <input type="button"  onclick="location.href='{{ path('app_register') }}';" value="S'enregister" />
                <input type="button"  onclick="location.href='{{ path('app_home') }}';" value="Accueil" />
        {% endif %}
        
        {% block body %}
        {% endblock %}
    </body>
    
    {% block javascript %}
        <script src="/js/script.js"></script>
    {% endblock %}

</html>