<!DOCTYPE html>
<html>
    <head>
        {% block javascripts_head %}
        {% endblock %}

        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
        <title>{% block title %}Porjet Sport!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset( 'css/style.css')}}"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    </head>
  
  </body>
  <nav class="navbar">
      <div class="navbar-logo">
          Fit-Share
      </div>
      <ul class="navbar-list">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_forum') }}">Forum</a></li>

        {% if app.user %}
          <li><a href="{{ path('app_seance') }}">Séance</a></li>
          <li><a href="{{ path('app_find_seance') }}">Trouver vos Séance</a></li>
          <li><a href="{{ path('entraineur') }}">Entraineur</a></li>
          <li><a href="{{ path('app_profil') }}">Mon profil</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% endif %}

        {% if not app.user %}
          <li><a href="{{ path('app_login') }}">Se connecter</a></li>
          <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
        {% endif %}
      </ul>

      <div class="burger-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>

        
        {% block body %}
        {% endblock %}
    </body>

    {% include "cgu/footer.html.twig" %}
    {% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset ('js/script.js')}}"></script>
    {% endblock %}
</html>