<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset( 'css/style.css')}}"> 
        {% endblock %}

        
    </head>
    <body>
        {% if app.user %}
            <div id='navBar'> 
                <a href=" {{ path('app_logout') }}"><div class='navItem'>Se déconnecter</div></a>
                <a href=""><div class='navItem'>Mon profil</div></a>
                <a href=" {{ path('app_seance') }}"><div class='navItem'>Séance</div></a>
                <a href=" {{ path('app_topic') }}"><div class='navItem'>Forum</div></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href=" {{ path('entraineur') }}"><div class='navItem'>Entraineur</div></a>
            {% endif %}
            </div>
        {% else %}
            <a href=" {{ path('app_login') }}">Se connecter</a>
            <a href=" {{ path('app_register') }}">S'enregister</a>
            <a href=" {{ path('app_home') }}">Accueil</a>
        {% endif %}
        
        {% block body %}
        {% endblock %}
    </body>
    
    {% block javascript %}
        <script src="/js/script.js"></script>
    {% endblock %}

</html>