{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    <div id='forum'>

        <form action="{{ path('app_topic') }}" method="post" id="topic-form">
            <select name="categorieTopic" id="categorie-select">
                {% for categorieTopic in categorieTopics %}
                    <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
                {% endfor %}
            </select>
        </form>

        {% for topic in topics %}
            <div class='topic'>
                <h2><a href="{{ path('show_topic' ,{'id': topic.id}) }}">{{topic.titre}}</a></h2>
                <div class='topicInfos'>
                    <div class='topicInfo'>{{topic.user.pseudo}}</div>
                    <div class='topicInfo'>{{topic.dateCreation|date('Y-m-d')}}</div>
                    <div class='topicInfo'>#{{topic.categorieTopic.categorie}}</div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('veroullier_topic',{'id': topic.id}) }}" ><div class='topicInfo'>ver</div></a>
                    {% endif %}
                </div>
                <div class='topicContent'>
                    <p>{{topic.contenue}}</p>
                </div>
            </div>
        {% endfor %}

        <div id='addTopic'>
            <form action="{{ path('add_topic') }}" method="post" >
                <label for="titre"></label>
                <div id='titreCategorie'>
                    <input type="string" name="titre" id='titre' placeholder='Titre'>
                    <select name="categorieTopic" id="categorie-select">
                    <option value="{{null}}" selected disabled>--Catégorie--</option>
                    {% for categorieTopic in categorieTopics %}
                        <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
                    {% endfor %}
                    </select>
                </div>
                <label for="contenue"></label>
                <textarea type="textarea" id="contenue" name="contenue" placeholder='Contenue...'></textarea>
                <input type="submit" id="envoyerTopic" value="Ajouter topic"></i>
            </form>
        </div>
    </div>
{% endblock %}
