{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    <div id='forum'>

        <form action="{{ path('app_topic') }}" method="post" id="topic-form">
            <select name="categorieTopic" id="categorie-select">
                {% for categorieTopic in categorieTopics %}
                    <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
                {% endfor %}
            </select>
        </form>

        {% for topic in topics %}
            <div class='topic'>
                <div class='topicInfos'>
                    <div class='topicInfo'>{{topic.user.pseudo}}</div>
                    <div class='topicInfo'>{{topic.dateCreation|date('Y-m-d')}}</div>
                    <div class='topicInfo'>#{{topic.categorieTopic.categorie}}</div>
                    <div class='topicInfo'><a href="{{ path('show_topic' ,{'id': topic.id}) }}">{{topic.titre}}</a></div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('veroullier_topic',{'id': topic.id}) }}" ><div class='topicInfo'>ver</div></a>
                    {% endif %}
                </div>
                <div class='topicContent'>
                    {{topic.contenue}}
                </div>
            </div>
        {% endfor %}

        <div id='addTopic'>
            <form action="{{ path('add_topic') }}" method="post" >
                <label for="titre">Titre :</label>
                <input type="string" name="titre">
                <label for="contenue">Contenue :</label>
                <textarea type="textarea" name="contenue"></textarea>
                <select name="categorieTopic" id="categorie-select">
                {% for categorieTopic in categorieTopics %}
                    <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
                {% endfor %}
                </select>
                <input type="submit" value="ajouter topic"></i>
            </form>
        </div>
    </div>
{% endblock %}
