{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
<div id='topicContainer'>
    <div id='forum'>

        <h1>{{topic.titre}}</h1>

        <div class='post'>
            <div class='postInfoContainer'>
                <div class='postPseudo'>{{topic.user.pseudo}}</div>
                <div class='postDate'>{{topic.dateCreation|date('Y-m-d H:i:s')}}</div>
            </div>

            <div class='postContent'>
                {{topic.contenue}}
            </div>
        </div>

        {% for post in posts %}
        
            <div class='post'>

                <div class='postInfoContainer'>
                    <div class='postPseudo'>{{post.user.pseudo}}</div>
                    <div class='postDate'>{{post.dateCreation|date('Y-m-d H:i:s')}}</div>
                </div>

                <div class='postContent'>
                    {{post.contenue}}
                </div>
                
            </div>
        {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(posts) }}
    </div>
        {% if app.user %}
            {% if topic.verrouiller == false %}
                {{ form_start(formAddPost) }}
                    {{ form_widget(formAddPost.topic, { 'value': topic.id }) }}
                {{ form_end(formAddPost) }}
            {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}