{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<div id='forum'>
    {{ form_start(formSearchTopic, {'attr': {'class': 'search-form'}}) }}
        {{ form_row(formSearchTopic.search, {'attr': {'class': 'search-input', 'placeholder': 'Recherchez un sujet'}, 'label': false}) }}
        {{ form_row(formSearchTopic.submit, {'attr': {'class': 'search-button'}}) }}
    {{ form_end(formSearchTopic) }}
    
    {#  
    <form action="{{ path('app_topic') }}" method="post" id="topic-form">
        <select name="categorieTopic" id="categorie-select">
            {% for categorieTopic in categorieTopics %}
                <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
            {% endfor %}
        </select>
    </form>
    #}

    {% for topic in topics %}
    <div class='topic-container'>
        <h2 class='topic-title'><a href="{{ path('show_topic' ,{'id': topic.id}) }}">{{topic.titre}}</a></h2>
        
        <div class='topic-info-container'>
            {% if topic.user != null %}
                <div class='topic-info topic-user'>{{topic.user.pseudo}}</div>
            {% else %}
                <div class='topic-info topic-user'>Anonyme</div>
            {% endif %}
            <div class='topic-info topic-date'>{{topic.dateCreation|date('Y-m-d')}}</div>
            <div class='topic-info topic-category'>#{{topic.categorieTopic.categorie}}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('veroullier_topic',{'id': topic.id}) }}" class='topic-info topic-lock'>ver</a>
            {% endif %}
        </div>

        <div class='topic-content'>
            <p>{{topic.contenue}}</p>
        </div>
    </div>
    {% endfor %}


    {% if app.user %}
        
        <div id='addTopic' class="add-topic-form">
            {{ form_start(formAddTopic) }}
            
            <div class="form-group">
                {{ form_row(formAddTopic.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre du sujet'}, 'label': false}) }}
            </div>
            
            <div class="form-group">
                {{ form_row(formAddTopic.categorieTopic, {'attr': {'class': 'form-control'}, 'label': false}) }}
            </div>
            
            <div class="form-group">
                {{ form_row(formAddTopic.contenue, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Contenu du sujet'}, 'label': false}) }}
            </div>
            
            {{ form_row(formAddTopic._token) }}
            
            <div class="form-group">
                {{ form_row(formAddTopic.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>

            {{ form_end(formAddTopic) }}
        </div>
    {% endif %}

</div>
{% endblock %}
