{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<div id="forumContainer">
<div id="forum">
    {{ form_start(formSearchTopic, {'attr': {'class': 'searchForm'}}) }}
        {{ form_row(formSearchTopic.search, {'attr': {'class': 'searchInput', 'placeholder': 'Recherchez un sujet'}, 'label': false}) }}
    {{ form_end(formSearchTopic) }}
    
    {#  
    <form action="{{ path('app_topic') }}" method="post" id="topic-form">
        <select name="categorieTopic" id="categorie-select">
            {% for categorieTopic in categorieTopics %}
                <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
            {% endfor %}
        </select>
    </form>
    #}

    {% for topic in topics %}
    <div class="topic">
        <a href="{{ path('show_topic' ,{'id': topic.id}) }}">
            <div class="topicInfoContainer">
                {% if topic.user != null %}
                    <div class="topicPseudo">{{topic.user.pseudo}}</div>
                {% else %}
                    <div class="topicPseudo">>Anonyme</div>
                {% endif %}
                    <div class="topicDate">{{topic.dateCreation|date('Y-m-d')}}</div>
                    <div class="topicCategorie">#{{topic.categorieTopic.categorie}}</div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('veroullier_topic',{'id': topic.id}) }}">ver</a>
                {% endif %}
            </div>
            <h2>{{topic.titre}}</h2>
            <div>
                <p>{{topic.contenue}}</p>
            </div>
        </a>
    </div>
    {% endfor %}


    {% if app.user %}
        
        <div>
            {{ form_start(formAddTopic, {'attr': {'class': 'formAddTopic'}}) }}

                {{ form_row(formAddTopic.titre, {'attr': {'class': 'formTitre', 'placeholder': 'Titre du sujet'}, 'label': false}) }}

                {{ form_row(formAddTopic.contenue, {'attr': {'class': 'formContenue', 'placeholder': 'Contenu du sujet'}, 'label': false}) }}
                
                {{ form_row(formAddTopic.categorieTopic, {'attr': {'class': 'formCategorie'}, 'label': false}) }}

                {{ form_row(formAddTopic._token) }}
                
                {{ form_row(formAddTopic.Poster, {'attr': {'class': 'submit'}}) }}

            {{ form_end(formAddTopic) }}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
