{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<div id='forum'>
    {{ form_start(formSearchTopic, {'attr': {'class': 'search-form'}}) }}
        {{ form_row(formSearchTopic.search, {'attr': {'class': 'search-input', 'placeholder': 'Recherchez un sujet'}, 'label': false}) }}
        {{ form_row(formSearchTopic.submit, {'attr': {'class': 'search-button'}}) }}
    {{ form_end(formSearchTopic) }}
    
    {#  
    <form action="{{ path('app_topic') }}" method="post" id="topic-form">
        <select name="categorieTopic" id="categorie-select">
            {% for categorieTopic in categorieTopics %}
                <option value="{{categorieTopic.id}}">{{categorieTopic.categorie}}</option>
            {% endfor %}
        </select>
    </form>
    #}

    {% for topic in topics %}
    <div class="topic">
        <a href="{{ path('show_topic' ,{'id': topic.id}) }}">
            <div class="topicInfoContainer">
                {% if topic.user != null %}
                    <div class="topicPseudo">{{topic.user.pseudo}}</div>
                {% else %}
                    <div class="topicPseudo">>Anonyme</div>
                {% endif %}
                    <div class="topicDate">{{topic.dateCreation|date('Y-m-d')}}</div>
                    <div class="topicCategorie">#{{topic.categorieTopic.categorie}}</div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('veroullier_topic',{'id': topic.id}) }}">ver</a>
                {% endif %}
            </div>
            <h2>{{topic.titre}}</h2>
            <div>
                <p>{{topic.contenue}}</p>
            </div>
        </a>
    </div>
    <div class="bar"></div>
    {% endfor %}


    {% if app.user %}
        
        <div>
            {{ form_start(formAddTopic) }}
            
                {{ form_row(formAddTopic.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre du sujet'}, 'label': false}) }}
                
                {{ form_row(formAddTopic.categorieTopic, {'attr': {'class': 'form-control'}, 'label': false}) }}
                
                {{ form_row(formAddTopic.contenue, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Contenu du sujet'}, 'label': false}) }}
                
                {{ form_row(formAddTopic._token) }}
                
                {{ form_row(formAddTopic.submit, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_end(formAddTopic) }}
        </div>
    {% endif %}

</div>
{% endblock %}
